<DOCTYPE html!>
	<html>
		<head>
			<title>Server Home Page</title>
			<meta charset="UTF-8"/>
		</head>
		<body>
			<h1>Welcome from server</h1>
			Please use Postman to make HTTP Post requests

		</body>
	</html>